RUST_LOG=info
FIRMUPS_DB_USER=firmups_db
FIRMUPS_DB_PASSWORD=575393l9HHiayZ9gKH35e
FIRMUPS_DB_NAME=firmups_backend
DATABASE_URL=postgres://${FIRMUPS_DB_USER}:${FIRMUPS_DB_PASSWORD}@localhost/${FIRMUPS_DB_NAME}
