RUST_LOG=info
FIRMUPS_DB_USER=firmups_db
FIRMUPS_DB_PASSWORD=575393l9HHiayZ9gKH35e
FIRMUPS_DB_NAME=firmups_backend
FIRMUPS_DB_HOST=postgres
FIRMUPS_DATABASE_URL=postgres://${FIRMUPS_DB_USER}:${FIRMUPS_DB_PASSWORD}@${FIRMUPS_DB_HOST}/${FIRMUPS_DB_NAME}
FIRMUPS_DATA_PATH=/opt/firmups/data
FIRMUPS_FIRMWARE_MAX_SIZE_BYTES=1073741824
FIRMUPS_API_KEY=eGRzYo2zzZEfCOppE6x7Vxt8UzozUCZo
FIRMUPS_MAX_LOG_DAYS=7
FIRMUPS_STORAGE_TYPE=s3
FIRMUPS_STORAGE_LOCAL_PATH=/opt/firmups/data
FIRMUPS_STORAGE_S3_ENDPOINT=http://storage:3900
FIRMUPS_STORAGE_S3_REGION=garage
FIRMUPS_STORAGE_S3_KEY_ID=GK96fb50a7665be5f422942557
FIRMUPS_STORAGE_S3_ACCESS_KEY=aac9a3da0303b746f11f04c7a886c25c9fe374eaaf86091864f34de3824754ea
FIRMUPS_STORAGE_S3_BUCKET=firmups-bucket

DATABASE_URL=${FIRMUPS_DATABASE_URL}   # for Diesel CLI