RUST_LOG=info
FIRMUPS_DB_USER=firmups_db
FIRMUPS_DB_PASSWORD=575393l9HHiayZ9gKH35e
FIRMUPS_DB_NAME=firmups_backend
FIRMUPS_DB_HOST=localhost
FIRMUPS_DATABASE_URL=postgres://${FIRMUPS_DB_USER}:${FIRMUPS_DB_PASSWORD}@${FIRMUPS_DB_HOST}/${FIRMUPS_DB_NAME}
FIRMUPS_STORAGE_TYPE=local
FIRMUPS_STORAGE_LOCAL_DATA_PATH=./firmups/data
# FIRMUPS_STORAGE_TYPE=s3
# FIRMUPS_STORAGE_S3_ENDPOINT=http://localhost:3900
# FIRMUPS_STORAGE_S3_REGION=garage
# FIRMUPS_STORAGE_S3_KEY_ID=GKe02fad876c017d05a8426b70
# FIRMUPS_STORAGE_S3_ACCESS_KEY=e1a296d520736fa5372f659c2dc5340b9f5bb62b3143929db458ebad0dd47d3e
# FIRMUPS_STORAGE_S3_BUCKET=firmups-bucket
FIRMUPS_FIRMWARE_MAX_SIZE_BYTES=1073741824
FIRMUPS_API_KEY=eGRzYo2zzZEfCOppE6x7Vxt8UzozUCZo
FIRMUPS_LOG_PATH=./firmups/logs
FIRMUPS_LOG_MAX_DAYS=7

DATABASE_URL=${FIRMUPS_DATABASE_URL}   # for Diesel CLI
