name: release.yml

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Version to release (X.Y.Z)'
                required: true

            releaseType:
                description: 'Release type'
                required: true
                default: 'develop'
                type: choice
                options:
                    - 'develop'
                    - 'stable'

jobs:
    check-version:
        runs-on: ubuntu-latest
        steps:
            -   name: Check version
                run: |
                    if ! [[ "${{ github.event.inputs.version }}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
                        echo "Invalid version format. Use X.Y.Z."
                        exit 1
                    fi

    create-version-string:
        runs-on: ubuntu-latest
        needs: check-version
        outputs:
            version_string: ${{ steps.create_string.outputs.version_string }}
            nextcloud_version_string: ${{ steps.create_string.outputs.nextcloud_version_string }}
        steps:
            -   name: Create version string
                id: create_string
                run: |
                    if [[ "${{github.event.inputs.releaseType}}" == "develop" ]]; then
                        echo "version_string=${{ github.event.inputs.version }}-dev+${{github.run_number}}" >> "$GITHUB_OUTPUT"
                    elif [[ "${{github.event.inputs.releaseType}}" == "stable" ]]; then
                        echo "version_string=${{ github.event.inputs.version }}" >> "$GITHUB_OUTPUT"
                    else
                        exit 1
                    fi

    check-changelog:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                if: ${{ github.event.inputs.releaseType == 'stable' }}
                uses: actions/checkout@v4

            -   name: Check changelog
                if: ${{ github.event.inputs.releaseType == 'stable' }}
                run: |
                    if ! grep -q "## \[${{ github.event.inputs.version }}\] - $(date +%F)" CHANGELOG.md; then
                        echo "Changelog entry for version ${{ github.event.inputs.version }} not found."
                        exit 1
                    fi
      
    lint:
      runs-on: ubuntu-latest
      steps:
        -   name: Checkout
            uses: actions/checkout@v4
        - uses: ./.github/actions/cargo-check
        - uses: ./.github/actions/cargo-fmt
        - uses: ./.github/actions/cargo-clippy


    build:
      strategy:
        matrix:
            include:
                - os: ubuntu-latest
                  target: x86_64-unknown-linux-gnu
                - os: windows-latest
                  target: x86_64-pc-windows-msvc
                - os: macos-latest
                  target: aarch64-apple-darwin
      runs-on: ${{ matrix.os }}

      steps:
        -   name: Checkout
            uses: actions/checkout@v4

        - uses: actions/cache@v4
          with:
            path: |
              ~/.cargo/registry
              ~/.cargo/git
              target
            key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

        - uses: ./.github/actions/cargo-build-release
          with:
            target: ${{ matrix.target }}

        - uses: actions/upload-artifact@v4
          with:
            name: binaries-${{ matrix.target }}
            path: target/${{ matrix.target }}/release/
            retention-days: 1

    publish-github-release:
        runs-on: ubuntu-latest
        if: ${{ github.event.inputs.releaseType != 'develop' }}
        needs: [build, create-version-string ]
        permissions:
            contents: write
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Download release artifact
                uses: actions/download-artifact@v4
                with:
                    name: release-v${{ needs.create-version-string.outputs.version_string }}

            -   name: Download signature artifact
                uses: actions/download-artifact@v4
                with:
                    name: release-v${{ needs.create-version-string.outputs.version_string }}-signature

            -   name: Create body for stable
                if: ${{ github.event.inputs.releaseType == 'stable' }}
                run: |
                    perl -ne 'print if /\Q## [${{ needs.create-version-string.outputs.version_string }}]\E/ ... /^[#]{2} /' ./CHANGELOG.md > body.md
                    sed -i '$ d' body.md

            -   uses: ncipollo/release-action@v1
                with:
                    artifacts: "firmups-backend-v${{ needs.create-version-string.outputs.version_string }}.tar.gz, firmups-backend-v${{ needs.create-version-string.outputs.version_string }}-signature.txt"
                    bodyFile: "body.md"
                    makeLatest: ${{ github.event.inputs.releaseType == 'stable' }}
                    tag: "v${{ needs.create-version-string.outputs.version_string }}"
                    prerelease: ${{ github.event.inputs.releaseType != 'stable' }}
